video
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0
}

#main-container
{
    display: flex;
    flex-flow: column;
    position: relative;
    /* background-color:rgba(0,0,0,0.4);  */
    border-radius: 15%;
    width:700px;
    margin: auto;
    color: white;
}

#main-container div:nth-child(1)
{
    display: flex;
    flex-flow: column;
    align-items: center;
    flex:1;
}

#main-container div:nth-child(2)
{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    text-align: center;
    flex:1;
    list-style-type: none;
    position: relative;
    padding-left: 0px;
    width: 100%;
}

#main-container ul:nth-child(3)
{
    display: flex;
    justify-content: space-around;
    flex:1;
    list-style-type: none;
    width: 100%;
    padding-left: 0px;
    padding-bottom: 5%;
}

input[type=text]
{
    color: white;
    width: 50%;
    border:none;
    box-shadow: none;
    background-color: transparent;
    border-bottom: 3px solid white;
    font-family: 'Raleway', sans-serif;
}

input[type=text]:focus
{
    outline: none;
    border-bottom: 3px solid red;
    color: white
}

::placeholder
{
    color: white;
    opacity: 1;
    font-size: large;
}

input[type=submit]
{
    border: none;
    border-radius: 10px;
    color: black;
    background-color: white;
    padding: 10px 10px 10px 10px;
}

img
{
    width: 80px;
    height: auto;

}

h1
{
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}

h2
{
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 1.5em;
}



 /* Dropdown Button */
 .dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 10px;
    width: 200px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 3px solid black;
    
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    
  }

  
  /* Change color of dropdown links on hover */
  .dropdown-content button:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: white;}  */


.button1{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
text-align:center;
transition: all 0.2s;
}
.button1:hover{
color:#000000;
background-color:#FFFFFF;
}
@media all and (max-width:30em){
.button1{
display:block;
margin:0.4em auto;
}
} 




a
{
    color: white;
}

i
{
    font-size: 64px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

i:hover
{
   padding-bottom: 5px;
   border-bottom: 2px solid white;
}

@media only screen and (max-width: 768px)
{
    video
    {
        display:none;
    }


    body
    {
        background-image: url("ressources/img/poster.jpg");
        background-repeat: no-repeat;
        background-size: cover; 
        margin: 0px 0px 0px 0px;
    }


    #main-container
    {
        width: 100%;
        border-radius: initial;

    }
}