.navbar-brand .img{
    height: 50px;
}

nav a img{
    margin: auto;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
}

.navbar-expand-lg{
    justify-content: center;
}

#button_montpellier{
    justify-content: center;
    align-items: center;
    display: inline-flex;
    height: 70px;
    width: 120px;
    margin-right: 70px;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 50px;
    border-radius: 5%;
}

#button_rennes{
    justify-content: center;
    align-items: center;
    display: inline-flex;
    height: 70px;
    width: 120px;
    margin-right: 70px;
    margin-bottom: 40px;
    margin-top: 50px;
    border-radius: 5%;
}


#match-list{
    margin-top: 50px;
}

#search, #result{

    border-radius: 2%;
}

.character > img {
    max-height: 100px;
    grid-area: image;
}

#searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}