<!-- templates/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block welcome %}<h1 class="title">Welcome to</h1>{% endblock %}
{% block container %}
<div class="column is-4 is-offset-4">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-success">
          {{ messages[0] }}
      </div>
  {% endif %}
  {% endwith %}
</div>
<div>
  <h3 class="title"><a href="/parking">&#128664; Parking</a></h3>
  <h3 class="title"><a href="/tram">&#x1F68A; Tram</a></h3>
  <h3 class="title"><a href="/velo">&#128692; Vélo</a></h3>
  <h3 class="title"><a href="/date">&#128692; Date</a></h3>
</div>
{% endblock %}