<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-success">
          {{ messages[0] }}
      </div>
  {% endif %}
  {% endwith %}
</div>
<h1 class="title">
  Welcome to Data_parking_Montpellier Project
</h1>
<h2 class="subtitle">
  by Mancid.
</h2>
<div>
  <a href="/parking">Parking</a>
</div>
<div>
  <a href="/login">Login</a>
</div>
{% endblock %}