<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <meta http-equiv="refresh" content="59"/>
  <link rel="stylesheet" href="./static/bootstrap.min.css" />
  <link rel="stylesheet" type= "text/css" href= './static/style.css'/>
  <title>Parking Montpellier</title>
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/profile">Profile</a>
          <a class="nav-link" href="/logout">Logout</a>
          </nav>
</head>

<body>
    <div>
    <span class="badge bg-primary rounded-pill">Actualis&eacute; &agrave; : {{now}}</span></div>
<!-- <div><img class="fit-picture"
     src="./parking_logo.png"></div> -->
  
   {% for parking, value in parkings.items() %}
  <span class="badge bg-primary">{{ parking }}
  <div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: {{(value.get('Total') - value.get('Free'))/value.get('Total') * 100}}%;" aria-valuenow={{value.get('Free')}} aria-valuemin="0" aria-valuemax={{value.get('Total')}}></div>
  </div>
  <span class="badge bg-danger" id="occupe">Places prises : {{value.get('Total') - value.get('Free')}}</span>
  <span class="badge bg-success" id="dispo">Places disponibles : {{value.get('Free')}}</span>
  </span>
 {% endfor %}
</body>
</html>