<!-- templates/parking.html -->

{% extends "base.html" %}
{% block title %}PARKING MTP{% endblock %}
{% block head %}
{{super()}}
    <link rel="stylesheet" href="./static/css/style_parking.css">
{% endblock %}
    <body>
        <span class="badge bg-primary rounded-pill">Actualis&eacute; &agrave; : {{now}}</span></div>        
        {% block container %}
            <h1>&#128664; Places disponibles en temps réel des parkings souterrains de Montpellier &#128664;</h1>
            <div id="searchWrapper">
                <input type="text" name="searchBar" id="searchBar" placeholder="Entrez un parking"/>
                </br>
            </div>
            <ul id="ParkingsList"></ul>
        </div>
        <script src="./static/js/parking.js"></script>
        {%endblock %}
    </body>
