<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Prochains Passages</title>
        <!-- <link rel="stylesheet" href="./static/css/bootstrap.parking.css"> -->
        <!-- <link rel="stylesheet" href="./static/css/style_tram.css"> -->
        <link rel="stylesheet" href="./static/css/tram.css" />
    </head>
    <body>
        <div class="container">
            <h1>&#x1F68A; Prochains horaires de passages de vos transports &#x1F68A;</h1>
            <div id="searchWrapper">
                <input type="text" name="searchBar1" id="searchBar1" placeholder="Entrez une station"/>
                </br>
            </div>
            <ul id="StationsList"></ul>
        </div>
        <script src="./static/js/tram.js"></script>
    </body>
    <footer>        
        <figure>
          <blockquote class="blockquote">
            <p class="mb-0">© MANCID 2021</p>
          
          </blockquote>
          <figcaption class="blockquote-footer">
            Source : <cite title="Source Title"><a href="https://data.montpellier3m.fr/dataset/offre-de-transport-tam-en-temps-reel" target="_blank">Ville de Montpellier ❤️</a></cite>
          </figcaption>
        </figure>
    </footer>
</html>
