<!-- templates/tram.html -->

{% extends "base.html" %}
{% block title %}VELO MTP{% endblock %}
{% block head %}
{{super()}}
    <meta http-equiv="Refresh" content="120">
    <link rel="stylesheet" href="./static/css/style_velo.css">
{% endblock %}
    <body>      
        {% block container %}
            <h1>&#128692; Vélos disponibles en temps réel sur Montpellier &#128692;</h1>
            <div id="searchWrapper">
                <input type="text" name="searchBar" id="searchBar" placeholder="Entrez un lieu"/>
                </br>
            </div>
            <ul id="VelosList"></ul>
        <script src="./static/js/velo.js"></script>
        {%endblock %}
    </body>
